body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:ghostwhite;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.subtitle{
    font-size: 22px;
    color: darkred;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.body-content .tweetList{
    background-color: aliceblue;
    list-style-position: outside;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0px;
    padding: 5px;
    border: groove;
    border-radius: 8px;
    list-style: none;
}

li.tweetList span.scrnName, .body-content div.scrnName{
    color: indianred;
    font-weight: bold;
    padding: inherit;
    border-radius: 8px;
}

body div.body-content #spinnyCube{
    position: absolute;
    margin-top: -30px;
}


body div.body-content div.jumbotron #right-tron{
    opacity: .85;
    background-color: black;
    color: white;
    width: 200px;
    height: 188px;
    margin-top: -140px;
    margin-right: -60px;
    float:right;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    

    
}

 body div.body-content div.jumbotron div#time-box{
     
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 0px 10px;
    border-radius: 15px;
    margin: 10px 20px;
    opacity: .4;
}

#current-time{
    background-color:black;
    font-size: 22px;
    color: white;
    padding: 0px 25px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 0px -10px;
    opacity: .6;
}

 body div.body-content div.jumbotron div#date-box{
     
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 0px 10px;
    border-radius: 15px;
    margin: 0 20px;
    opacity: .4;
}

#current-date{
    background-color:black;
    font-size: 22px;
    color: white;
    padding: 0px 25px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 0px -10px;
    opacity: .6;
}
