body {
    padding-bottom: 20px;
    background-color:#f8f8f8;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    border: 30px solid transparent;
    border-image: url('Images/PNW.png')  0 18 round ;
    border-image-repeat:repeat;
    padding: 0px 15px;
    margin-top: 40px;
    background-color: white;
    border-top:inset; 
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-custom{
    padding: 5px;
    background-color: white;
}

.subtitle{
    font-size: 30px;
    color: darkred;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.bars {
    margin: 10px;
    border-style: solid;
    background-color: aliceblue;
    border-color: cadetblue;
    border-radius: 10px;
    padding: 5px;
    font-size: 22px;
}

/*styling for list of tweets on homepage*/
.body-content .tweetList{
    background-color: aliceblue;
    list-style-position: outside;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0px;
    padding: 5px;
    border: groove;
    border-radius: 8px;
    list-style: none;
}

/*home page Twitter Screen name styling*/
li.tweetList span.scrnName, .body-content div.scrnName{
    color: indianred;
    font-weight: bold;
    padding: inherit;
    border-radius: 8px;
}

/*this is the logo on the nav bar*/
body .container .navbar-header .crown {
    font-family:'Times New Roman', Times, serif;
    background-color: white;
    background-image: url('Images/QueenCrown.jpg');
    font-size: x-large;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    color:black;
    padding: 2px 20px 24px 90px;
    border-style:groove;
}

body .container .navbar-header .crown:hover{
    color:white;
}
body #spinnyCube {
       top: 0;
       float: right;
}

/*error message validation for text*/
#error-message{
    color: red;
    padding: 0;
    margin-top: 0;
}

/*display welcome image content right side color-profile jumbotron when widow size datalist large enough*/ 
@media screen and (min-width: 990px) {
     body div.body-content div.jumbotron #overlap {
        background-color: black;
        background-repeat: no-repeat;
        width: 205px;
        height: 188px;
        margin-top: -140px;
        margin-right: -60px;
        float: right;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        opacity: .9; 

        border-left: ridge 5px white;
        
    }

    body div.body-content div.jumbotron #right-tron {
        font-family:'Times New Roman', Times, serif;
        background-color: white;
        background-image: url('Images/RoundBorder.jpg');
        background-position-y: center;
        background-size: contain;
        background-repeat: no-repeat;
        color: black;
        width: 200px;
        height: 188px;
        float: right;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        opacity: .8;
        font-size: 24px;
        padding: 70px 54px;

    }
   
}

/*dont display time and date when widow size get too small*/

@media screen and (max-width: 767px) {
    body div.container #date-box, body div.container #time-box {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    /* -----------     START: date and clock section   ----------- */

   body div.container div.now {
       background: white;
    }

    body div.container #date-box, body div.container #time-box {
        position: absolute;
        right: 0px;
        top: 0;
        float: right;
        background-color: white;
        color: black;
        font-size: 12px;
        border-radius: 8px;
        border-style: groove;
    }

    body div.container #time-box {
        right: 115px;
    }

   body div.container #current-date, body div.container #current-time {
       border-style: none;
        background-color: black;
        font-size: 20px;
        color: white;
        padding: 0px 10px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-top:inset 2px white;
        opacity: .6
    }
   body div#mushroom{
        bottom:15px;
        right:19%;
        width: 90px;
        height: 100px;
    }
    /* -----------     END: date and clock   ----------- */
}

/* Google Maps size*/
#hplus-map{
    width: 100%;
    height: 400px;
}