
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h1>Google Api</h1>
</div>
        <div id="hplus-map">
        </div>

<h2 class="subtitle">Great Cocktail Bars in Seattle</h2>

<div class="subtitle">
    <a id="TavernLaw" class="bars">Tavern Law</a>
    <a id="Canon" class="bars">Canon</a>
    <a id="ZigZag" class="bars">Zig Zag</a>
    <a id="RobRoy" class="bars">Rob Roy</a>
    <a id="BaBar" class="bars">Ba Bar</a>
    <a id="Barrio" class="bars">Barrio Mexican Kitchen & Bar</a>
</div>

